@import "./variables";

.button-alpha {
  border: none;
  background-color: transparent;
  color: $uno-white;
  transition: all 0.2s linear;

  &:hover:disabled {
    cursor: auto;
  }
  &:focus-visible:enabled {
    outline: none;
    background-color: $uno-grey-active;
    color: $sage;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:focus,
  :focus-visible {
    outline: none;
  }
}
.clear-button{
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

.buton-underline{
  background-color: transparent;
  color: $uno-white;
  border: none;
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
  &:hover{
    text-decoration: underline;
  }
  &:focus-visible{
    text-decoration: underline;
    outline: none;

  }
}

.hover-active-grey {
  transition: all 0.2s linear;
  &:hover {
    background-color: $uno-grey-active;
    
  }
}
.hover-active-grey-enabled{
  transition: all 0.2s linear;
  &:hover:enabled {
    background-color: $uno-grey-active;
    
  }
}

.hover-grey {
  &:hover:enabled {
    background-color: $uno-grey;
    color: $sage;
  }
}

.hover-i-sage2 {
  &:hover:enabled {
    i {
      color: $sage2;
    }
  }
  &:focus-visible:enabled{
    color: $sage2
  }
}

.hover-color-sage{
  &:hover{
    color: $sage2;
    cursor: pointer;
  }
  &:has(input:focus-visible){
    color: $sage2;
  }
  
}

.hover-color-sage2{
  &:hover{
    color: $sage2;
    cursor: pointer;
  }
  &:focus-visible{
    color: $sage2;

  }
}

.button-bravo-delete{
    content: '<i class="fa-solid fa-xmark"></i>';
    font-size: 1.2rem;
    background-color: $uno-dark;
    color: $uno-white;
    transition: color 0.2s linear;
    border: none;
    &:hover:enabled {
      color: $sage2;
    }
    &:focus-visible:enabled{
      color: $sage2
    }
  
}

.recipe-liked{
  color: $uno-tomato
}

.user-followed{
  color: $uno-apricot
}

.trans02linear{
  transition: all 0.2s linear;
}

.hover-underline{
  transition: all 0.2s linear;
  &:hover{
    text-decoration: underline;
  }
  &:focus-visible{
    text-decoration: underline;
    outline: none;

  }
}

.fv-outline-sage{
  &:focus-visible{
    outline: 1px solid $sage;
  }
}