@import "./variables";

.button-alpha {
  border: none;
  background-color: transparent;
  color: $uno-white;
  transition: all 0.2s linear;

  &:hover:disabled {
    cursor: auto;
  }
  &:focus-visible:enabled {
    outline: none;
    background-color: $uno-grey-active;
    color: $sage;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:focus,
  :focus-visible {
    outline: none;
  }
}

.hover-active-grey {
  &:hover:enabled {
    background-color: $uno-grey-active;
    
  }
}

.hover-grey {
  &:hover:enabled {
    background-color: $uno-grey;
    color: $sage;
  }
}

.hover-i-sage2 {
  &:hover:enabled {
    i {
      color: $sage2;
    }
  }
}

.hover-color-sage{
  &:hover{
    color: $sage;
    cursor: pointer;
  }
}

.button-bravo-delete{
    content: '<i class="fa-solid fa-xmark"></i>';
    font-size: 1.2rem;
    background-color: $uno-dark;
    color: $uno-white;
    transition: color 0.2s linear;
    border: none;
    &:hover:enabled {
      color: $sage2;
    }
  
}

.recipe-liked{
  color: $uno-tomato
}

.user-followed{
  color: $uno-apricot
}

.trans02linear{
  transition: all 0.2s linear;
}
