@import './variables';

.button-alpha{
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 5px;
    border: none;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    color: white;
    text-wrap: nowrap;
    border: 1px solid $powder-blue;

    &:hover:enabled{
        background-color:  $powder-blue;
        color: $rich-black;
    }
    &:hover:disabled{
        cursor: auto;
    }
    &:focus-visible{
        outline: 2px solid $sage;
    }
    &:disabled{
        opacity: 0.5;
    }


}

.button-alpha-active{
    background-color: $powder-blue;
    color: $rich-black;
}
