@import './variables';

//color rukes
.sage{
  color: $sage;
}
.sage2{
  color: $sage2
}

//backround rules

.backboard-uno-grey{
  background-color: $uno-grey;
  color: $uno-white
}

.backboard-uno-grey-active{
  background-color: $uno-grey-active;
  color: $uno-white
}
//border radius rules

.border-radius-1r {
  border-radius: 1rem;
}

.border-radius-hr {
  border-radius: 0.5rem;
}

//border rules

.bt-uga{
  border-top: 1px solid $uno-grey-active;
}
.bb-uga{
  border-bottom: 1px solid $uno-grey-active;
}

//font rules

.font-size-1r{
  font-size: 1rem;
}
.font-size-12r{
  font-size: 1.2rem;
}

.font-size-15r {
  font-size: 1.5rem;
}

.font-size-2r {
  font-size: 2rem;
}

.font-weight-400{
  font-weight: 400;
}

// dimension rules

.width100{
  width: 100%;
}



.avatar-image-3rem{
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1/1;
}
.avatar-image-25rem{
  border-radius: 50%;
  height: 2.5rem;
  aspect-ratio: 1/1;
}