@import './variables';

//color rukes
.sage{
  color: $sage;
}
.sage2{
  color: $sage2
}
.uno-white{
  color: $uno-white
}

//backround rules

.backboard-uno-grey{
  background-color: $uno-grey;
  color: $uno-white
}

.backboard-uno-grey-active{
  background-color: $uno-grey-active;
  color: $uno-white
}
.backboard-uno-dark{
  background-color: $uno-dark;
  color: $uno-white
}
.background-tran{
  background-color: transparent;
}

.overflow-h{
  overflow: hidden;
}
//border radius rules

.border-radius-1r {
  border-radius: 1rem;
}

.border-radius-hr {
  border-radius: 0.5rem;
}

//border rules

.bt-uga{
  border-top: 1px solid $uno-grey-active;
}
.bb-uga{
  border-bottom: 1px solid $uno-grey-active;
}
.b-uga{
  border: 1px solid $uno-grey-active;
}

//font rules

.font-size-1r{
  font-size: 1rem;
}
.font-size-11r{
  font-size: 1.1rem;
}
.font-size-12r{
  font-size: 1.2rem;
}
.font-size-14r{
  font-size: 1.4rem;
}
.font-size-25r{
  font-size: 2.5rem;
}

.font-size-15r {
  font-size: 1.5rem;
}

.font-size-19r{
  font-size: 1.9rem;
}

.font-size-2r {
  font-size: 2rem;
}
.font-size-4r{
  font-size: 4rem;
}
.font-weight-300{
  font-weight: 300;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 500;
}
.text-underline-sage2{
  text-decoration: 2px underline  $sage2;
}
.letter-spacing-02rem{
  letter-spacing: 0.2rem;
}

// dimension rules

.width100{
  width: 100%;
}
.height100{
  height: 100%;
}

//avatars rules

.avatar-image-9rem{
  border-radius: 50%;
  height: 9rem;
  aspect-ratio: 1/1;
}
.avatar-image-3rem{
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1/1;
}
.avatar-image-25rem{
  border-radius: 50%;
  height: 2.5rem;
  aspect-ratio: 1/1;
}
.avatar-image-2rem{
  border-radius: 50%;
  height: 2rem;
  aspect-ratio: 1/1;
}