//margin rules

.m-1rem {
  margin: 1rem;
}
.m-01{
  margin: 0 1rem;
}
.m-050{
  margin: 0.5rem 0;
}
.m-0250{
  margin: 0.25rem 0
}


// margin-top

.mt-1rem {
  margin-top: 1rem;
}

.mt-hrem {
  margin-top: 0.5rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-5px{
  margin-top: 5px;
}

// margin-bottom

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-hrem {
  margin-bottom: 0.5rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-02rem {
  margin-bottom: 0.2rem;
}

//margin-right

.mr-1rem {
  margin-right: 1rem;
}

.mr-hrem {
  margin-right: 0.5rem;
}

//margin-left

.ml-1rem {
  margin-left: 1rem;
}

.ml-02rem {
  margin-left: 0.2rem;
}


.ml-hrem {
  margin-left: 0.5rem;
}







