//paddings
.padding-0{
  padding: 0;
}

.padding-1r {
  padding: 1rem;
}

.padding-15r {
  padding: 0.5rem;
}


.padding-c1 {
  padding: 0.2rem 0.5rem;
}

.pt-1r {
  padding-top: 1rem;
}

.pb-1r {
  padding-bottom: 1rem;
}

.padding-050 {
  padding: 0.5rem 0rem;
}
.padding-05-0{
  padding: 0 0.5rem;
}
.pl-1r{
  padding-left: 1rem;
}
.pl-hr{
  padding-left: 0.5rem;
}
.pb-hr{
  padding-bottom: 0.5rem;
}