.users-recipes-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.users-posts{
  @media (max-width: 770px) {
    order: -1;
    
  }
}


.users-activity {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 16px;
  
  @media (max-width: 770px) {
    grid-template-columns: 1fr ; 
    gap: 0;
  }
}
