@import "../../styles/variables";

.content-wrap {
  min-width: 55%;
  .comment-content {
    position: relative;
    min-height: 1rem;

    .dot {
      color: white;
      margin: 0 0.5rem;
    }
    .likes-quantity {
      position: absolute;
      font-size: 0.85rem;
      background-color: rgb(150, 150, 150);
      border: 2px solid $uno-grey;
      padding: 0.2rem 0.3rem;
      color: $uno-white;
      right: 1rem;
      top: -0.5rem;

      i {
        color: tomato;
      }
    }
    p {
      font-size: 1rem;
      margin-top: 0.1rem;
    }
  }
  .comment-meta {
    color: $sage;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    span {
      color: white;
      margin: 0 0.5rem;
    }
    .love-it {
      border: none;
      background-color: transparent;
      outline: none;
      color: $uno-white;
      font-size: 1rem;
      padding: 0;
      &:hover {
        text-decoration: underline;
      }
    }
    .comment-likes {
      margin-left: auto;
      color: $uno-white;
    }
  }
}
