<header class="padding-01 flex-row-csa backboard-uno-grey">
    <div class="panel flex-row-cfs gap10 gap10">
        <div >
           
        </div>
    </div>
    <div class="panel flex-row-cc gap10 center-panel">
        @if (isAuth) {
            <button class="nav-button padding-050"  routerLink="/microblog" routerLinkActive="nav-button-active"><div class="nav-button-desc">Microblog</div><i class="fa-solid fa-blog"></i></button>
            <button class="nav-button padding-050"  routerLink="/recipes" routerLinkActive="nav-button-active"><div class="nav-button-desc">Recipes</div><i class="fa-solid fa-book-open"></i></button>       
            <button class="nav-button padding-050"  [routerLink]="'user-panel/' + usersData.id " routerLinkActive="nav-button-active"><div class="nav-button-desc">User Panel</div><i class="fa-solid fa-list-check"></i></button>
        }
        <span class="marker" [ngClass]="setMarkerClass()"></span>
    </div>
  

   
    <div  class="panel flex-row-ce gap10 right-panel">
        <div *ngIf="isAuth" class="letter-spacing-02rem flex-row-cc ">
            <h3 class="font-size-14r mr-1rem">{{usersData.name}}</h3>
            @if(usersData.avatar) {
                <img class="avatar-image-25rem mr-hrem" [src]="usersData.avatar.url" [alt]="usersData.avatar.name">
            } @else {
              <img class="avatar-image-25rem mr-hrem" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar">
            }
        </div>
        <button #notiMenu [ngClass]="{'button-menu-active' : isNotificationMenuShown}" *ngIf="isAuth" class="circle backboard-uno-grey-active height100 font-size-14r notification" (click)="isNotificationMenuShown = !isNotificationMenuShown" >
            @if (!isNotificationMenuShown) { <div class="nav-button-desc">Notifications</div> }
            <i class="fa-solid fa-bell"></i>
            <div *ngIf="usersData && usersData.notifications && getNotificationsCount() > 0" class=" font-size-1r notification-number">{{getNotificationsCount()}}</div>
        </button>
        <button *ngIf="isAuth" (click)="onLogout()" class="circle height100 backboard-uno-grey-active font-size-14r logout">
            @if (!isNotificationMenuShown) { <div class="nav-button-desc">Logout</div>}
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
    @if (isNotificationMenuShown) {
        <div #notiMenu  class="notification-menu font-size-1rem backboard-uno-grey border-radius-1r padding-08r">
            <div class="notification-label font-size-19r">
                <h4>Notifications</h4>
                <div class="notification-filter flex-row-cfs gap10 mt-hrem ">           
                        <label class="button-alpha font-size-12r no-input-visible font-weight-300 hover-active-grey padding-c1 border-radius-hr checked-sage" for="no-read">
                            New
                            <input type="radio" name="read" id="no-read" [value]="notificationFilterEnum.new" [(ngModel)]="notificationFilter" >
                        </label>
                        <label class="button-alpha font-size-12r no-input-visible   font-weight-300 hover-active-grey padding-c1 border-radius-hr checked-sage" for="read">
                            All
                            <input type="radio" name="read" id="read" [value]="notificationFilterEnum.all" [(ngModel)]="notificationFilter">
                        </label>
                        <button class="button-alpha font-size-12r font-weight-300 hover-active-grey-enabled padding-c1 border-radius-hr ml-auto" [disabled]="getNotificationsCount() === 0 " type="button" (click)="clearNotifications()">Clear</button>         
                </div>
            </div>
                @for (item of notifiactionsToDisplay  | filterShown : notificationFilter ; track $index) {
                    <a tabindex="0" class="fv-outline-sage" (click)="clearNotifications(item.date)">
                    <div class="border-radius-1r padding-15r mt-hrem flex-row-cfs hover-active-grey notification-post">
                        <img class="avatar-image-25rem mr-hrem" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="!">
                        <div>
                            <p class="font-size-12r">{{item.message}}</p>
                            <p class="sage">{{item.date | date:'short'}}</p>
                        </div>              
                    </div>
                </a>
                } @empty {
                    <div  class="notification-post pt-1r flex-row-cfs">
                        <img src="https://www.clipartmax.com/png/middle/149-1491874_question-mark-comments-number-5-in-circle.png" class="avatar-image-25rem" alt="?">
                        <div class="ml-hrem">
                            <p class="notifaction-message">You dont have any notfications</p>         
                        </div>  
                    </div>
                }
                @if (usersData.notifications.length > 10) {
                    <div class="border-radius-1r padding-15r mt-hrem flex-row-cfs notification-post">
                        <div>
                            <p class="font-size-12r"> And more...</p>
                        </div>              
                    </div>
                }
               
                   
        </div>
    }
    

</header>

