*{
    color: white;
    
}
@media screen and (max-width: 600px) {
    * {
      font-size: 10px;
    }
  }

button{
    background-color: none;
    border: none;
    margin:0;
    padding:0;
    background: none;
}

#logo_img{
    height: 5vh;
}
#logo_img2{
    height: 5vh;
    margin-left: 5px;
}
.navbar_flexbox{
    height:6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.navbar_items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.navbar_items_item{
    height: 3.5vh;
    
}
.navbar_items_itemmanage{
    height: 2vh
}
.navbar_pause{
    height: 5.5vh;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 0px 0px 0px;
}

.navbar_item_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 25vw;
    height: 100%;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgba(240, 248, 255, 0.075);
    overflow: hidden;
    white-space: nowrap;
}
.last{
    left: 50%;
    transform: translateX(-50%);
}
.empty_space{
    width: 100%
}
.active-class{
    background-color: rgba(248, 248, 248, 0.226);
    opacity: 0.7;
    overflow: hidden;
}

.shine{
    position: relative;
    overflow: hidden;
    
}
.shine:hover{
    background-color: rgba(248, 248, 248, 0.056);

}
.shine:after{
    position: absolute;
    left: -120px;
    top: -15px;
    width: 50px;
    height: 180%;
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.5s;
   
}
.shine:hover:after{
    transform: translateX(400px) rotate(20deg);;
}
.manage_dropdown{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.manage_break{
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.manage_hover:hover{
    background-color: rgba(139, 139, 139, 0.185);
    cursor: pointer;
}
#login{
    font-size: 150%;
    min-width: 80px;
} 
button:disabled{
    color: rgba(255, 255, 255, 0.171);
    pointer-events: none;
    cursor: default;
}