@import "../styles/variables";

header {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 3.5rem;

  .panel {
    height: 75%;
    flex: 1 0 0;
  }
  .nav-button-desc {
    position: absolute;
    background-color: $uno-white;
    color: $uno-grey-active;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.4rem;
    bottom: -3rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    display: none;
    text-wrap: nowrap;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  .notification-number {
    position: absolute;
    background-color: rgb(146, 170, 66);
    height: 1.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: $uno-white;
    right: -3px;
    top: -3px;
    text-align: center;
  }

  .circle {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    &:hover {
      color: $sage;
      background-color: rgba(191, 204, 148, 0.1);
    }
    &:focus-visible {
      color: $sage;
      background-color: rgba(191, 204, 148, 0.1);
    }
    &:focus-visible > .nav-button-desc {
      display: block;
    }
    &:hover > .nav-button-desc {
      display: block;
    }
  }

  .button-menu-active {
    color: $sage;
    background-color: rgba(191, 204, 148, 0.1);
  }

  .center-panel {
    position: relative;

    .nav-button {
      position: relative;
      background-color: transparent;
      border-radius: 0.8rem;
      border: none;
      width: 5rem;
      font-size: 1.4rem;
      color: rgb(233, 230, 230);
      transition: background 0.2s linear;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        background-color: $uno-grey-active;
      }
      &:focus-visible{
        background-color: $uno-grey-active;
      }
    }
    .nav-button:focus-visible > .nav-button-desc {
      display: block;
    }
    .nav-button:hover > .nav-button-desc {
      display: block;
    }
   
    @keyframes fadeIn {
      0% {
        display: none;
        opacity: 0;
      }
      70% {
        display: block;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .marker {
      position: absolute;
      width: 5rem;
      height: 3px;
      background-color: $sage;
      left: 0;
      bottom: -0.35rem;
      transition: left 0.2s linear;
    }
    .marker-microblog {
      left: calc(50% - 8rem - 2px);
    }
    .marker-recipes {
      left: calc(50% - 2.5rem);
    }
    .marker-shopping-list {
      left: calc(50% + 3rem + 2px);
    }
    .marker-default {
      display: none;
    }

    .nav-button-active {
      color: $sage;
    }
  }

  .notification-menu {
    position: absolute;
    width: 20rem;
    min-height: 6rem;
    right: 1rem;
    top: 4.5rem;
   
  }
}
