@import "../../styles/variables";

.no-lower-border-radius {
  border-radius: 1rem 1rem 0 0;
}

.image-form {
  padding-top: 1px;
  input {
    position: absolute;
    width: 0;
  }
  .label-wrapper {
    position: relative;
    display: block;
    flex-grow: 0.126;
    aspect-ratio: 1/1;

    label {
      transition: color 0.2s linear;
      &:hover {
        color: $sage;
        cursor: pointer;
      }

      .image-loading {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(164, 185, 93, 0.5);
      }
    }
    .image-delete {
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s linear;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .nt0 {
    border-radius: 0 0 0 1rem;
  }
  .nt7 {
    border-radius: 0 0 1rem 0;
  }
}
.form-buttons {
  width: calc(100% - 1rem);
  position: relative;
  
  .emoji-active {
    background-color: $uno-grey-active;
    color: $sage;
  }
  
  .emoji-mart {
    position: absolute;
    background-color: transparent;
    left: 0;
    top: calc(100% + 16px);
    z-index: 4;

    scrollbar-width: thin;
    scrollbar-color: $uno-grey-active transparent;

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #06b741;
      border-radius: 10px;
      border: 5px solid #ffffff;
    }
  }
}
