<div class="backboard-uno-grey border-radius-1r new-microblog-post">

<img class="profile-image" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar">


<form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
<div [ngClass]="{'no-lower-border-radius': isPhotoAddOption}"  class="content-form">
    <textarea 
    cdkTextareaAutosize   
    [placeholder]="'Whats on your mind ' + userData.name + ' ?'" 
    name="content" id="content" formControlName="content" ></textarea>
</div>
    <div class="image-form" formArrayName="images">    
    @for (imageControl of newPostForm.value.images; track $index) {
        <ng-container [formGroupName]="$index">
            <div [class]="'nt' + $index" class="label-wrapper">
            <label  [for]="'image' + $index"><i class="fa-solid fa-file-import"></i>
                <input  type="file" accept="image/*" [id]="'image' + $index" [name]="'image' + $index" formControlName="input" (change)="onFileUpload($event, $index)" >
                <div [ngStyle]="{ 'height': imageControl.percentages + '%'}"  class="image-loading"></div>
                <img class="image-display" *ngIf="imageControl.imageData.url && imageControl.percentages === 100" [src]="imageControl.imageData.url" alt="XD" >
            </label>                     
            <a *ngIf="imageControl.imageData.url && imageControl.percentages === 100" (click)="onDeleteImageFromForm($index)"><div class="image-delete"><i class="fa-regular fa-trash-can"></i></div></a>
        </div>                     
        </ng-container>
}
</div>
<div class="form-buttons">
    <button class="emoji-button" type="button" [ngClass]="{'emoji-active' : isEmojiPickerVisible}"  (click)="onShowEmojiPanel()">
        @if (isEmojiPickerVisible) {
            <i class="fa-regular fa-face-laugh-wink"></i> 
        } @else {
            <i class="fa-regular fa-face-smile-beam"></i>
        }
         Emojis</button>

    <ng-container *ngIf="isEmojiPickerVisible">
        @defer (when isEmojiPickerVisible) {
            <emoji-mart class="emoji-mart" set="twitter" color="#bfcc94d9" [showPreview]="false" [enableSearch]="false" [darkMode]=true [emojiSize]="20" [include]="['people','foods']" (emojiClick)="addEmoji($event)"></emoji-mart>
        }
    </ng-container>
    
    <button type="button" [disabled]="photoQuantity > 7" (click)="onAddImageInput()"><i class="fa-regular fa-images"></i>  Add image</button>
    <button type="submit"><i class="fa-solid fa-share"></i>  Publish</button>
   
    
</div>

</form>

</div>