@import "../../styles/variables";
.new-microblog-post {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 0.5rem 1rem;

  .profile-image {
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  form {
    flex-grow: 1;
    .content-form {
      margin-left: 1rem;
      flex-grow: 1;
      .no-lower-border-radius{
        border-radius: 1rem 1rem 0 0;
      }
      textarea {
        padding: 0.5rem;
        width: calc(100% - 1rem);
        min-height: 3rem;
        border-radius: 1rem;
        background-color: $uno-grey-active;
        border: none;
        resize: none;
        color: $uno-white;
        overflow-y: hidden;
        &:focus {
          outline: none;
          border: none;
        }
        &:focus-visible {
          outline: 1px solid $sage;
        }
      }
    }
    .image-form{
      padding-left: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1px;
      input{
        position: absolute;
        width: 0;
      }
      label{
        display: block;
        min-width: 4rem;
        flex-grow: 0.126;
        aspect-ratio: 1/1;
        background-color: $uno-grey-active;
        color: $uno-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        transition: color 0.2s linear;
        &:hover{
          color: $sage;
          cursor: pointer;
        }
      }
      .nt0{
        border-radius: 0 0 0 1rem;
      }
      .nt7{
        border-radius: 0 0 1rem 0;
      }
    }
    .form-buttons {
      width: calc(100% - 1rem);
      margin: 0.5rem 0 0 1rem;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      position: relative;
      button {
        position: relative;
        height: 2.3rem;
        color: $uno-white;
        border: none;
        background-color: transparent;
        font-size: 1.3rem;
        border-radius: 1rem;
        transition: all 0.2s linear;
        padding: 0 15px;
        &:hover {
          background-color: $uno-grey-active;
          color: $sage;
        }
      }
      .emoji-button{
        width: 7rem;
      }
      .emoji-active{
        background-color: $uno-grey-active;
        color: $sage;
      }
      .emoji-mart {
        position: absolute;
        background-color: transparent;
        left: 8rem;
        z-index: 4;
        
        scrollbar-width: thin;
        scrollbar-color: $uno-grey-active transparent;

    
        &::-webkit-scrollbar-track {
          background: transparent
        }

        &::-webkit-scrollbar-thumb {
          background-color: #06b741;
          border-radius: 10px;
          border: 5px solid #ffffff;
        }
      }
    }
  }
}
