@import "../../styles/variables";
.post-wrapper {
  .top-section {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem;
    .author-data {
      margin-left: 1rem;
      color: $uno-white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h4 {
        font-size: 1.5rem;
      }
      h5 {
        margin-top: 5px;
        color: $sage;

        span {
          color: $uno-white;
          margin: 0 5px;
          font-weight: 900;
        }

        i {
          position: relative;
          color: $uno-white;
          font-size: 0.9rem;
        }
      }
    }
    .profile-image {
      height: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
  .text-section {
    color: $uno-white;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .image-section {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

      a{
        cursor: pointer;       
      }

    .image-section-photo{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .grid-full{
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    .grid-top{
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .grid-bottom{
      grid-column: 1 / 3;
      grid-row: 2 / 3
    }
    .grid-big-left{
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    .grid-small-top{
      grid-column: 2 / 3;
      grid-row: 1 / 2
    }
    .grid-small-bottom{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      position: relative;
    }
    .image-plus{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.597);
      color: $uno-white;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
