
  <div class="backboard mt-1rem post-wrapper">
    <div class="top-section">
      <img class="profile-image" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar">
      <div class="author-data">
          <h4>{{postAuthor.name}}</h4>
          <h5>{{microblogPost.date | date:'shortDate'}} <span>·</span> {{timeSincePosted}} <span>·</span> <i class="fa-solid fa-earth-europe"></i></h5>      
      </div>
    </div>
    <div class="text-section">
      <p>{{microblogPost.content}}</p>
    </div>
    <div class="image-section"
    *ngIf="microblogPost.images.length > 0"
    [ngStyle]="{'aspect-ratio': microblogPost.images.length === 2 ? '3/4':'3/2'}"
    >
      
      <div *ngIf="microblogPost.images[0]"
        [ngClass]="{
        'grid-full': microblogPost.images.length === 1,
        'grid-top': microblogPost.images.length === 2,
        'grid-big-left': microblogPost.images.length > 2}"> <!--kafelek pierwszy-->
        <a>
          <img
          class="image-section-photo"  
          [src]="microblogPost.images[0].url" 
          [alt]="microblogPost.images[0].name">
        </a>
        </div>
      <div *ngIf="microblogPost.images[1]"
        [ngClass]="{
        'grid-bottom': microblogPost.images.length === 2,
        'grid-small-top': microblogPost.images.length > 2}"> <!--kafelek drugi-->
        <a >
          <img 
          class="image-section-photo"  
          [src]="microblogPost.images[1].url" 
          [alt]="microblogPost.images[1].name">
        </a>
        </div>
      <div class="grid-small-bottom" *ngIf="microblogPost.images[2] && microblogPost.images.length <= 3"> <!--kafelek trzeci-->
        <a>
          <img class="image-section-photo" [src]="microblogPost.images[2].url" [alt]="microblogPost.images[2].name">
        </a>
      </div>
      <div class="grid-small-bottom" *ngIf="microblogPost.images.length > 3"> <!-- kafelek z plusem-->
        <a>
          <div class="image-plus"> <p>+ {{microblogPost.images.length - 2 }}</p></div>
          <img class="image-section-photo" [src]="microblogPost.images[2].url" [alt]="microblogPost.images[2].name">
        </a>
      </div>
  
    </div>
    <div class="likes-section">
        <div class="likes-info">
          <div>{{microblogPost.likes.quantity}} <i class="fa-solid fa-heart"></i>  </div>
          <div>{{microblogPost.comments.length}} <i class="fa-solid fa-comments"></i> </div>
        </div>
        <div class="likes-buttons">
          <button (click)="onLikePost()"><i [ngStyle]="{'color': isLikedByCurrentUser ? 'tomato' : 'white'}" class="fa-solid fa-heart"></i> I love it!</button>
          <button (click)="openComments()"><i [ngStyle]="{'color': isCommentSectionOpen ? 'rgb(66, 103, 178)' : 'white'}" class="fa-solid fa-comments"></i> Comments</button>
          @if (postAuthor.email !== loggedUserEmail) {
            <button (click)="onFollowUser()"><i [ngStyle]="{'color': isFollowedByCurrentUser ? 'rgb(244,198,77)' : 'white'}" class="fa-solid fa-user-plus"></i> Follow </button>
          } @else {
            <button (click)="onDeletePost()"><i [ngStyle]="{'color': 'white'}" class="fa-solid fa-trash"></i> Delete </button>

          }
        </div>
      </div>
      <div *ngIf="isCommentSectionOpen" class="comments-section">
        <div class="add-comment">
        <img class="profile-image2" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar">
          <form [formGroup] = "newCommentForm" >
            <textarea placeholder="Add new comment..." formControlName = 'content' ></textarea>
            <div class="add-comment-buttons">
              <button  type="button" (click)="showEmojiPanel()" [ngClass]="{'emoji-active' : isEmojiPickerVisible}" >
                @if (isEmojiPickerVisible) {
                  <i class="fa-regular fa-face-laugh-wink"></i> 
              } @else {
                  <i class="fa-regular fa-face-smile-beam"></i>
              }
              </button>
              <button  type="submit" (click)="onSubmit()" ><i class="fa-solid fa-share"></i></button>
              <ng-container *ngIf="isEmojiPickerVisible">
                @defer (when isEmojiPickerVisible) {
                    <emoji-mart class="emoji-mart" set="twitter" color="#bfcc94d9" [showPreview]="false" [enableSearch]="false" [darkMode]=true [emojiSize]="20" [include]="['people','foods']" (emojiClick)="addEmoji($event)"></emoji-mart>
                }
            </ng-container>
            </div>
          </form>
        </div>
        @if (microblogPost.comments.length > 0) {
          <div class="sorting-buttons">
            <button [ngStyle]="{'text-decoration': choosenSortType === sortType.sortByDate ? 'underline' : ''}" (click)="onChangeSortType(sortType.sortByDate)">Latest</button>
            <button [ngStyle]="{'text-decoration': choosenSortType === sortType.sortByLikes ? 'underline' : ''}" (click)="onChangeSortType(sortType.sortByLikes)">Popular</button>
          </div>
        }
        @for (comment of microblogPost.comments | dateLikeSort: choosenSortType; track $index) {
            <app-microblog-comment [microblogComment]="comment" [postId]="microblogPost.id"></app-microblog-comment>
           
        }  
      </div>
    </div>
   
  
