<div class="recipe-edit-wraper backboard-uno-grey border-radius-1r  pt-1r">
  

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="flex-row-csb backboard-uno-grey-active padding-1r">
      <button type="button" class="button-alpha hover-grey hover-i-sage2 border-radius-1r padding-c1 font-size-15r" (click)="onCancel()"> <i id="mirror" class="fa-solid fa-share"></i> Cancel</button>
        <h2 class="font-size-19r text-underline-sage2">Add Recipe</h2>
      <button type="submit" class="button-alpha hover-grey hover-i-sage2 border-radius-1r padding-c1 font-size-15r"[disabled]="!recipeForm.valid">{{editMode? 'Save':'Add'}} <i class="fa-solid fa-share"></i> </button>
        
    </div>
    

    <div class="form-wraper">

      <div class="padding-1r font-size-15r  flex-col-fsc bb-uga">
        <label for="name" class="font-weight-400 mb-1rem">Enter the name of the dish</label>
        <input
          type="text"
          spellcheck="false"
          maxlength="36"
          id="name"
          formControlName="name"
          class="form-control name-input backboard-uno-grey-active border-radius-1r font-size-15r"
        />
      </div>

      <div class="padding-1r font-size-15r flex-col-fsc bb-uga">
        <label class="font-weight-400 mb-1rem">Select the food category</label>
        <div class="food-types">
          <label class="no-input-visible padding-c1 border-radius-hr mr-hrem label-hover-active-grey checked-sage2" for="0"
            >Desert
            <input
              type="radio"
              formControlName="type"
              name="type"
              id="0"
              [value]="foodType.desert"
            />
          </label>

          <label class="no-input-visible padding-c1 border-radius-hr mr-hrem label-hover-active-grey checked-sage2" for="1"
            >Dinner
            <input
              type="radio"
              formControlName="type"
              name="type"
              id="1"
              [value]="foodType.dinner"
            />
          </label>

          <label class="no-input-visible padding-c1 border-radius-hr mr-hrem label-hover-active-grey checked-sage2" for="2"
            >Beverage
            <input
              type="radio"
              formControlName="type"
              name="type"
              id="2"
              [value]="foodType.drink"
            />
          </label>

          <label class="no-input-visible padding-c1 border-radius-hr mr-hrem label-hover-active-grey checked-sage2" for="3"
            >Breakfast
            <input
              type="radio"
              formControlName="type"
              name="type"
              id="3"
              [value]="foodType.breakfast"
            />
          </label>
        </div>
      </div>

      <div class="padding-1r font-size-15r flex-col-fsc bb-uga">
        <label class="font-weight-400 mb-1rem">Select the level of difficulty </label>
        <div class="food-level-wrap width100 ">
          <div class="bar flex-row-csb width100">
            <div
              [ngStyle]="{
                width:
                  recipeForm.value.level === foodLevel.Easy
                    ? '0'
                    : recipeForm.value.level === foodLevel.Medium
                    ? '50%'
                    : '100%'
              }"
              class="progress-bar width100 height100"
            ></div>

            <label class="no-input-visible track-label " [for]="foodLevel.Easy"
              ><span></span>
              <input
                type="radio"
                name="level"
                [id]="foodLevel.Easy"
                [value]="foodLevel.Easy"
                formControlName="level"
              />
            </label>
 
            <label class="no-input-visible track-label " [for]="foodLevel.Medium"
              ><span
                [ngStyle]="{
                  backgroundColor:
                    recipeForm.value.level === foodLevel.Hard
                      ? 'rgb(176, 202, 92)'
                      : ''
                }"
              ></span>
              <input
                type="radio"
                name="level"
                [id]="foodLevel.Medium"
                [value]="foodLevel.Medium"
                formControlName="level"
              />
            </label>

            <label class="no-input-visible track-label " [for]="foodLevel.Hard"
              ><span></span>
              <input
                type="radio"
                name="level"
                [id]="foodLevel.Hard"
                [value]="foodLevel.Hard"
                formControlName="level"
              />
            </label>
          </div>
          <div class="mt-hrem width100 flex-row-csb">
            <label class="cp" [for]="foodLevel.Easy">Easy</label>
            <label class="cp" [for]="foodLevel.Medium">Medium</label>
            <label class="cp" [for]="foodLevel.Hard">Hard</label>
          </div>
        </div>
      </div>
      <div class="padding-1r font-size-15r flex-col-fsc bb-uga">
        <label class="font-weight-400 mb-1rem" for="foodTime"
          >Select a preparation time
        </label>
        <div class="width100">
          <div class="bar flex-row-csb width100">
            <div
              [ngStyle]="{
                width: (recipeForm.value.prepTime | prepTimeToPercent) + '%'
              }"
              class="progress-bar width100 height100"
            ></div>

            @for (prepTime of prepTimes ; track $index) {
            <label class="no-input-visible track-label" [for]="prepTime"
              ><span
                [ngStyle]="{
                  backgroundColor:
                    recipeForm.value.prepTime >= prepTime
                      ? 'rgb(176, 202, 92)'
                      : ''
                }"
              ></span>
              <input
                type="radio"
                name="prepTime"
                [id]="prepTime"
                [value]="prepTime"
                formControlName="prepTime"
              />
            </label>
            }
          </div>
          <div class="mt-hrem width100 flex-row-csb">
            @for (prepTime of prepTimes ; track $index) {
            <label class="lab" [for]="prepTime">{{ prepTime }}</label>
            }
          </div>
        </div>
      </div>

      <div class="padding-1r font-size-15r flex-col-fsc bb-uga" formGroupName="description">
        <label class="font-weight-400 mb-1rem" for="main"
          >Enter a description of the dish</label
        >
        <div class="textarea-wrapper textarea-width">
          <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            spellcheck="false"
            type="text"
            id="description"
            formControlName="main"
          ></textarea>
        </div>
        <div class=" font-size-15r flex-col-fsc bb-uga" id="description-steps" formArrayName="steps">
          <div class="flex-row-cc  mt-1rem">
            <label class="font-weight-400">Add cooking steps </label>
            <button class="button-alpha hover-active-grey border-radius-hr padding-15r ml-hrem" type="button" (click)="onAddDescriptionStep()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          @for (step of recipeForm.value.description.steps ; track $index) {
            <div class="mb-hrem width100">     
              <div class="mb-hrem" >
                <label class="font-size-12r" [for]="$index">Step {{$index + 1}}</label>
                <button type="button" class="button-bravo-delete ml-hrem border-radius-hr" (click)="onDeleteDescriptionStep($index)"><i class="fa-solid fa-xmark"></i></button>
              </div>
              <div class="textarea-wrapper width100">
                <textarea spellcheck="false" cdkTextareaAutosize cdkAutosizeMinRows="1" [name]="$index" [id]="$index" [formControlName]="$index"></textarea>
              </div>
          </div>
          }

        </div>
      </div>

      <div class="padding-1r font-size-15r flex-col-fsc bb-uga">
        <div class="flex-row-cc">
          <label class="font-weight-400">Add ingredients </label>
          <button class="button-alpha hover-active-grey border-radius-hr padding-15r ml-hrem" type="button" (click)="onAddIngredient()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <div class="flex-row-ss mt-hrem flex-wrap width100 gap5" formArrayName="ingredients">

          @for (ingredientControl of recipeForm.value.ingredients; track $index)
          {
          <ng-container *ngVar="$index as globalIndex">
            <div class="ingredient-form border-radius-hr backboard-uno-grey-active" [formGroupName]="$index">
              <input
                class="pl-hr font-size-1r uno-white background-tran"
                type="text"
                spellcheck="false"
                placeholder="Ingredient"
                formControlName="name"
              />
              <input class="uno-white font-size-1r background-tran" type="number" placeholder="1" formControlName="ammount" />

              <div class="select-unit">
                <button type="button" class="show-units background-tran uno-white font-size-1r height100 padding-0">
                  {{
                    ingredientControl.unit
                      ? ingredientControl.unit
                      : "Select Unit"
                  }}
                  <i class="fa-solid fa-chevron-up"></i>
                  <div class="units gap5 border-radius-hr overflow-h backboard-uno-dark" >
                    @for (unit of unitTypes | keyvalue; track unit) {
                    <label class="padding-c1" [for]="globalIndex + unit.key">
                      <input
                        type="radio"
                        name="unit"
                        formControlName="unit"
                        [id]="globalIndex + unit.key"
                        [value]="unit.value"
                      />{{ unit.key }}
                    </label>
                    }
                  </div>
                </button>
              </div>
              <button
                class="delete-ing backboard-uno-dark font-size-12r hover-i-sage2"
                type="button"
                (click)="onDeleteIngredient($index)"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </ng-container>
          }
        </div>
      </div>

      <div class="font-size-15r form-group-images flex-col-fsc font-size-15r pt-1r">
        <div
         
          class="flex-row-cc mb-1rem"
        >
          <label class="font-weight-400 ml-1rem">Add photos </label>
          <button
            class="button-alpha hover-active-grey border-radius-hr padding-15r ml-hrem"
            type="button"
            [disabled]="photoQuantity > 7"
            (click)="onAddImageInput()"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <div class="image-form gap1 flex-row-ss width100" formArrayName="images">
          @for (imageControl of recipeForm.value.images; track $index) {
          <ng-container [formGroupName]="$index">
            <div [class]="'nt' + $index" class="backboard-uno-grey-active label-wrapper font-size-4r overflow-h">
              <label class="no-input-visible flex-row-cc width100 height100 hover-color-sage" [for]="'image' + $index"
                ><i class="fa-solid fa-file-import"></i>
                <input
                  type="file"
                  accept="image/*"
                  [id]="'image' + $index"
                  [name]="'image' + $index"
                  formControlName="input"
                  (change)="onFileUpload($event, $index)"
                />
                <div
                  [ngStyle]="{ height: imageControl.percentages + '%' }"
                  class="image-loading width100 absolute-lb"
                ></div>
                <img
                  class="image-display width100 height100 absolute-lb"
                  *ngIf="
                    imageControl.imageData.url &&
                    imageControl.percentages === 100
                  "
                  [src]="imageControl.imageData.url"
                  alt="XD"
                />
              </label>
              <a
                *ngIf="
                  imageControl.imageData.url && imageControl.percentages === 100
                "
                (click)="onDeleteImageInput($index)"
                ><div class="image-delete absolute-lb height100 width100 flex-row-cc backboard-uno-grey-active">
                  <i class="fa-regular fa-trash-can"></i></div
              ></a>
            </div>
          </ng-container>
          }
        </div>
      </div>
    </div>
  </form>
</div>
