@import "../../styles/variables";

#mirror {
  transform: scaleX(-1);
}

#description-steps {
  border: none;
  width: calc(100% - 2rem);
}

.name-input {
  width: calc(100% - 24px);
  padding: 6px 12px;
  font-weight: 300;
}

.textarea-width {
  width: calc(100% - 2rem);
}

.bar {
  position: relative;
  height: 5px;
  background-color: $uno-white;
  border-radius: 5px;
  .progress-bar {
    position: absolute;
    border-radius: 5px;
    background-color: $sage2;
    transition: all 0.3s linear;
  }
}

.track-label {
  &:nth-child(2) > span {
    background-color: $sage2;
  }

  span {
    display: block;
    width: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: $uno-white;
    transition: all 0s linear;
    transition-delay: 0.3s;
  }
  &:has(input:checked) > span {
    background-color: $sage2;
  }
}

.lab {
  cursor: pointer;
  min-width: 24px;
  text-align: center;
  &:nth-child(1) {
    text-align: start;
  }
}

.ingredient-form {
  display: flex;

  input[type="text"] {
    width: 6rem;
  }
  input[type="number"] {
    width: 2rem;
    text-align: end;
    -moz-appearance: textfield;
    appearance: none;
    border-left: 1px solid $uno-dark;
    margin-right: 5px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .select-unit {
    .show-units {
      display: block;
      position: relative;
      text-align: center;
      border: none;
      outline: none;
      i {
        transition: all 0.1s linear;
        opacity: 0.5;
        color: $sage;
      }

      &:hover > .units {
        display: flex;
      }
      &:hover > i {
        transform: rotate(180deg);
      }
      &:has(> .units:hover) > i {
        transform: rotate(180deg);
      }
    }
    .units {
      position: absolute;
      display: none;
      flex-direction: column;
      bottom: 100%;
      &:hover {
        display: flex;
      }
      label {
        cursor: pointer;
        width: calc(100% - 0.6rem);
        text-align: start;

        &:has(input:checked) {
          color: $sage2;
          background-color: $uno-grey-active;
        }
        &:hover {
          color: $sage;
          background-color: $uno-grey-active;
        }
        input {
          position: absolute;
          width: 0;
        }
      }
    }
  }
  .delete-ing {
    border: none;
    height: 100%;
    margin-left: 5px;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.label-wrapper {
  flex-grow: 0.126;
  aspect-ratio: 1/1;

  .image-loading {
    background-color: rgba(164, 185, 93, 0.5);
  }

  .image-delete {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.8;
    }
  }
}
.nt0 {
  border-radius: 0 0 0 1rem;
}
.nt7 {
  border-radius: 0 0 1rem 0;
}
