@import '../styles/variables';

.showcase-wrap{
 position: relative;
 

}
.recipes-container{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.swiper {
  width: 80%;
  height: 100%;
  margin-bottom: 30px;
}


.post {
  width: 17rem;

  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 16px 0;
  margin: 1rem;
}

.post-img {
  width: 100%;
  max-width: 230px;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 4/3;
  border-radius: 6px;
  user-select: none;
  pointer-events: none;
}

.post-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  margin-top: auto;
  cursor: default;
}

.post-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-actions{
  margin-left: auto;
  display: flex;
  gap: 5px;


  .post-action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    border-radius: 5px;
    aspect-ratio: 1/1;
    background-color: rgba(250, 250, 250, 0.356);
    color: whitesmoke;
    cursor: pointer;

  }
}




.showcase-menu{
  display: flex;
  justify-content: center;
  height: 2.2rem;

form{
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  border: 1px solid $powder-blue;
  border-radius: 15px;
  overflow: hidden;
  width: 25rem;
  height: 100%;
  input{
    height: 100%;
    position: absolute;
    width: 0;
    
  }
  #option0:checked ~ span{
    left: 0;
  }
  #option1:checked ~ span{
    left: 25%;
  }
  #option2:checked ~ span{
    left: 50%;
  }
  #option3:checked ~ span{
    left: 75%;
  }
  label{
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  span{
    transition: left 0.25s ease-in-out;
    position: absolute;
    height: 100%;
    width: 25%;
    background-color:$indigo-dye;
    z-index: -1;
    top: 0;
    left:0;
    border-radius: 15px;

    
  }
}

}



