<div class="showcase-wrap glass-panel">
  <div class="showcase-menu">
    <form>
      <input
        [value]="foodCategory.breakfast"
        id="option0"
        name="foodtype"
        type="radio"
        [(ngModel)]="chosenFoodCategory"
        
      />
      <label for="option0">Breakfasts</label>
      <input
        [value]="foodCategory.dinner"
        id="option1"
        name="foodtype"
        type="radio"
        [(ngModel)]="chosenFoodCategory"
      />
      <label for="option1">Dinners</label>
      <input
        [value]="foodCategory.drink"
        id="option2"
        name="foodtype"
        type="radio"
        [(ngModel)]="chosenFoodCategory"
      />
      <label for="option2">Beverages</label>
      <input
        [value]="foodCategory.desert"
        id="option3"
        name="foodtype"
        type="radio"
        [(ngModel)]="chosenFoodCategory"
      />
      <label for="option3">Deserts</label>
      <span></span>
    </form>
  </div>

<div class="recipes-container">
@for (recipe of recipes | foodTypeSort: chosenFoodCategory; track $index) {
<div class="swiper-slide post">
  <img
    class="post-img"
    [src]="recipe.imagePath"
    alt="recipe"
  />


  <div class="post-body">
      <h2 class="post-name">{{recipe.name}} </h2>

    <div class="post-actions">
      <a class="post-action"><i class="fa-solid fa-heart"></i></a>
      <a class="post-action show-menu"><i class="fa-solid fa-ellipsis-vertical"></i></a>
    </div>
    </div>
  </div>
}
</div>
</div>