@import "../styles/variables";

.showcase-wrap {
  position: relative;
}
.recipes-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.swiper {
  width: 80%;
  height: 100%;
  margin-bottom: 30px;
}

.post {
  width: 17rem;

  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 16px 0;
  margin: 1rem;
}

.post-img {
  width: 230px;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 4/3;
  border-radius: 6px;
  user-select: none;
  pointer-events: none;
}

.post-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  margin-top: auto;
  cursor: default;
}

.post-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-actions {
  margin-left: auto;
  display: flex;
  gap: 5px;

  .post-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    border-radius: 5px;
    aspect-ratio: 1/1;
    background-color: rgba(250, 250, 250, 0.356);
    color: whitesmoke;
    cursor: pointer;
  }
}

.showcase-menu {
  height: 2.2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;

  @media (max-width: 980px) {
    margin-bottom: calc(2.2rem + 0.5rem);
  }


  .search{
    position: relative;
    height: 2.2rem;
    width: 13rem;
    border: 1px solid $powder-blue;
    z-index: 1;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    overflow: hidden;
    border-left: none;

    input{
      height: 100%;
      width: 100%;
      background-color: $indigo-dye;
    }
    

    @media (max-width: 980px){
      position: absolute;
      transform: translateY(calc(100% + 0.5rem));
      border-radius: 0.5rem;
      width: calc(100% - 2rem);
    }
  }

  form {
    position: relative;
    background-color:  $indigo-dye;
    border: 1px solid $powder-blue;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    flex-grow: 3;
    height: 100%;
    z-index: 2;

    @media (max-width:980px) {
      border-radius: 0.5rem;
    }
    input {
      height: 100%;
      position: absolute;
      width: 0;
    }
    #option0:checked ~ span {
      left: 20%;
    }
    #option1:checked ~ span {
      left: 40%;
    }
    #option2:checked ~ span {
      left: 60%;
    }
    #option3:checked ~ span {
      left: 80%;
      @media (min-width: 980px){
      border-radius: 0.5rem 0 0 0.5rem ;
      }
    }
    #option4:checked ~ span {
      left: 0;
  
    }
    label {
      position: relative;
      display: inline-block;
      height: 100%;
      min-width: 20%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 980px) {
        font-size: 0.8rem;
      
      }
    }
    span {
      transition: left 0.25s ease-in-out;
      position: absolute;
      height: 100%;
      width: 20%;
      background-color: $powder-blue;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 0.4rem;
    }
  }
}
