<div class="details-wrap backboard-uno-grey border-radius-1r">
  <div class="recipe-details bb-uga">
    <div class="recipe-info half">
      <div class="padding-1r">
        <h1>{{ recipe.name }}</h1>
        <h3>
          <span class="sage2 ml-hrem">by:</span>
          {{ recipe.author | authorname }}
        </h3>
      </div>
      <div class="flex-row-csa padding-1r bt-uga mt-2rem">
        <div class="flex-col-cc">
          <i class="mb-02rem fa-solid fa-heart recipe-liked font-size-15r"></i>
          {{ recipe.likes.quantity }}
        </div>
        <div class="flex-col-cc">
          <app-stars
            [(usersRate)]="rateByCurrentUser"
            [recipeName]="recipe.name"
            [perecentages]="totalRatePercentage"
          ></app-stars>
          {{ recipe.stars.length }}
        </div>
        <div class="flex-col-cc">
          <app-levels class="mb-02rem" [level]="recipe.level"></app-levels>
          {{ recipe.level }}
        </div>
        <div class="flex-col-cc">
          <app-clock class="mb-02rem"></app-clock>
          {{ recipe.prepTimeMinutes }} min.
        </div>
      </div>
      <div class="flex-row-csa padding-1r bt-uga">
        <button
          class="button-alpha hover-active-grey border-radius-hr padding-c1 font-size-12r"
          (click)="onLikeRecipe()"
        >
          <i
            [ngClass]="{ 'recipe-liked': isLikedByCurrentUser }"
            class="mr-hrem fa-solid fa-heart"
          ></i>
          I love it!
        </button>
        <button
          (click)="onFollowUser()"
          class="button-alpha hover-active-grey border-radius-hr padding-c1 font-size-12r"
        >
          <i
            [ngClass]="{ 'user-followed': isFollowedByCurrentUser }"
            class="fa-solid fa-user-plus mr-hrem"
          ></i
          >Follow
        </button>
        <button
          (click)="onToShopList()"
          class="hover-i-sage2 button-alpha hover-active-grey border-radius-hr padding-c1 font-size-12r"
        >
          <i class="fa-solid fa-list mr-hrem"></i>To Shopping List
        </button>
      </div>
      @if (recipe.author === userData.email) {
      <div class="flex-row-csa padding-1r bt-uga">
        <button
          class="hover-i-sage2 button-alpha hover-active-grey border-radius-hr padding-c1 font-size-12r"
        >
          <i class="fa-solid fa-xmark mr-hrem"></i>Delete Recipe
        </button>
        <button
          (click)="onEditRecipe()"
          class="hover-i-sage2 button-alpha hover-active-grey border-radius-hr padding-c1 font-size-12r"
        >
          <i class="fa-solid fa-pen-to-square mr-hrem"></i>Edit Recipe
        </button>
      </div>
      }
    </div>

    <div class="recipe-image half">
      <div class="image-container">
        <img [src]="recipe.images[0].url" [alt]="recipe.images[0].name" />
      </div>
    </div>
  </div>

  <div class="width100 recipe-details">
    <div class="half">
      <div class="m-1rem flex-col-fsc gap10 font-size-12r">
        <h5 class="font-size-15r mb-hrem sage2-underline">Ingredients:</h5>
        @for (ingredient of recipe.ingredients; track $index) {
        <div class="ingredient-row font-size-12r">
          {{ ingredient.name }}
          <div class="dots"></div>
          {{ ingredient.ammount }}
          <span class="sage ml-02rem">{{ ingredient.unit }}</span>
        </div>
        }
      </div>
    </div>

    <div class="half">
      <div class="m-1rem flex-col-fsc font-size-1r">
        <h5 class="font-size-15r mb-hrem sage2-underline">Description:</h5>
        <p class="font-size-12r">{{ recipe.description.main }}</p>
        @for (step of recipe.description.steps; track $index) {
        <h5 class="sage2-underline mb-hrem mt-hrem font-size-15r">
          Step {{ $index + 1 }}
        </h5>
        <p class="font-size-12r">{{ step }}</p>
        }
      </div>
    </div>
    <div></div>
  </div>
</div>
<div class="backboard-uno-grey border-radius-1r mt-1rem padding-1r">
  <h2 class="font-size-15r">
    <span class="mr-1rem">
      <i class="fa-solid fa-comments"></i> {{ recipe.comments.length }}</span
    >
    <a class="hover-color-sage" (click)="showHideComments()"
      >Opinions on the recipe</a
    >
    <i
      [ngStyle]="{
        transform: !isCommentSectionVisible ? 'rotate(180deg)' : ''
      }"
      class="trans02linear sage fa-solid fa-chevron-up ml-hrem font-size-1r"
    ></i>
  </h2>
  @if (isCommentSectionVisible) {

  <div class="flex-row-cfs gap10 mt-1rem">
    <img
      class="avatar-image-25rem"
      src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg"
      alt="avatar"
    />
    <form class="flex-grow-1" [formGroup]="newCommentForm">
      <div class="textarea-wrapper flex-row-cfs">
        <textarea
          cdkTextareaAutosize
          placeholder="Add new comment..."
          formControlName="content"
          (keydown.enter)="onEnterKey($event)"
        ></textarea>
        <div class="flex-row-cfs gap5">
          <button
            class="button-alpha font-size-12r hover-i-sage2"
            type="button"
            (click)="showEmojiPanel()"
            [ngClass]="{ 'emoji-active': isEmojiPickerVisible }"
          >
            @if (isEmojiPickerVisible) {
            <i class="active fa-regular fa-face-laugh-wink"></i>
            } @else {
            <i class="fa-regular fa-face-smile-beam"></i>
            }
          </button>
          <button
            class="button-alpha font-size-12r hover-i-sage2"
            [disabled]="!newCommentForm.valid"
            type="submit"
            (click)="onSubmit()"
          >
            <i class="fa-solid fa-share"></i>
          </button>
          <ng-container *ngIf="isEmojiPickerVisible">
            @defer (when isEmojiPickerVisible) {
            <emoji-mart
              class="emoji-mart"
              set="twitter"
              color="#bfcc94d9"
              [showPreview]="false"
              [enableSearch]="false"
              [darkMode]="true"
              [emojiSize]="20"
              [include]="['people', 'foods']"
              (emojiClick)="addEmoji($event)"
            ></emoji-mart>
            }
          </ng-container>
        </div>
      </div>
    </form>
  </div>

  @for (comment of recipe.comments; track $index) {
  <div class="mt-1rem">
    <app-comment
      [isRecipeOpinion]="true"
      [comment]="comment"
      [postId]="recipe.id"
    ></app-comment>
  </div>
  } @empty {
  <h2 class="font-size-12r padding-1r">
    There are no opinions on this recipe, be the first one!
  </h2>
  } }
</div>

<div class="padding-1r backboard-uno-grey border-radius-1r mt-1rem">
  <h2 class="font-size-15r">
    Check other recipes from
    <span class="sage">{{ recipe.author | authorname }}</span
    >:
  </h2>
  <div class="users-recipes-display mt-1rem">
    @for (usersRecipe of usersRecipes; track $index) {
    <div class="users-recipe">
      <app-recipes-item
        [recipe]="usersRecipe"
        [isSimpleDisplay]="true"
      ></app-recipes-item>
    </div>
    }
  </div>
</div>
