<div class="border-radius-1r backboard-uno-grey padding-1r flex-col-cc">
  @if (error) {
    <app-alert [message]="error" (close)="onHandleError()"></app-alert>
  }
  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  } @else {
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="flex-col-cc font-size-14r gap10">
        
        <label for="email">E-mail</label>
        <input autocomplete="off" type="email" id="email" class="font-size-14r auth-input uno-white font-weight-300 padding-c1 border-radius-hr" ngModel name="email" required email/>
       
        @if (!isLoginMode) {
          <label for="email">Name</label>
          <input autocomplete="off" id="name" class="font-size-14r auth-input uno-white font-weight-300 padding-c1 border-radius-hr" ngModel name="name" required/>
        }

        <label for="password">Password</label>
        <input type="password" id="password" class="font-size-14r auth-input uno-white font-weight-300 padding-c1 border-radius-hr" ngModel name="password" required minlength="6"/>
        
        @if (!isLoginMode) {
          <label for="password2">Confirm password</label>
          <input type="password" id="password2" class="font-size-14r auth-input uno-white font-weight-300 padding-c1 border-radius-hr" ngModel name="password2" required minlength="6"/>
        }
          
        @if ((authForm.value.password !== authForm.value.password2) && !isLoginMode && authForm.value.password2) {
          <p class="passowrds-not-same padding-c1 sage2 border-radius-hr"  >Passwords are not the same!</p>
        }
        @if (!isLoginMode) {
          <re-captcha (resolved)="captchaResolved($event)" (errored)="captchaError($event)" ></re-captcha>
        }

            <!-- bot protection -->
          <input type="checkbox" class="bot-prot" id="checkbox" ngModel name="checkbox"/>
        
        @if(isLoginMode) {
          <button class="button-alpha border-radius-hr padding-c1 hover-active-grey-enabled font-size-14r" 
          [disabled]="!authForm.valid">
          Login
          </button>
        } @else {
          <button class="button-alpha border-radius-hr padding-c1 hover-active-grey-enabled font-size-14r" 
          [disabled]="(authForm.value.password !== authForm.value.password2 || !authForm.valid || !_token)">
          Sign Up
          </button>
        }
          
          <button type="button" class="font-size-14r button-alpha hover-underline" (click)="onSwitchMode()">
            {{ isLoginMode ? "Not registered yet? Sign up" : "Back to Login" }}
          </button>
        
      </div>
    </form>
  }
 
</div>
