<div class="auth-wrap">
  <app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form
    #authForm="ngForm"
    class="auth-form"
    (ngSubmit)="onSubmit(authForm)"
    *ngIf="!isLoading"
  >
    <div class="auth-form-group">
      <label for="email">E-mail</label>
      <input
        autocomplete="off"
        type="email"
        id="email"
        class="auth-input"
        ngModel
        name="email"
        required
        email
      />
    </div>
    <div class="auth-form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="auth-input"
        ngModel
        name="password"
        required
        minlength="6"
      />
    </div>
    <div *ngIf="!isLoginMode" class=" auth-form-group">
      <label for="password2">Confirm password</label>
      <input
        type="password"
        id="password2"
        class="auth-input"
        ngModel
        name="password2"
        required
        minlength="6"

      />
      
    </div>
    <div *ngIf="(authForm.value.password !== authForm.value.password2) && !isLoginMode" class="auth-form-alert">
        <p>Passwords are not the same!</p>
      </div>

    <div *ngIf="!isLoginMode" class="auth-form-group">
      <label for="terms" style="margin-bottom: 10px"
        >Accept the Terms and Conditions</label
      >
      <input
        type="checkbox"
        class="auth-input-checkbox"
        id="checkbox"
        ngModel
        name="checkbox"
        required
      />
    </div>

    <div class="login-buttons">
      <button
        class="button-alpha"
        [disabled]="
          isLoginMode
            ? !authForm.valid
            : authForm.value.password !== authForm.value.password2 ||
              !authForm.valid
        "
        style="margin-right: 10px"
      >
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>

      <button type="button" class="button-alpha" (click)="onSwitchMode()">
        {{ isLoginMode ? "Switch to SignUp" : "Switch to Login" }}
      </button>
    </div>
  </form>
</div>
