@import '../../styles/variables';

.dotted{
    border-bottom: 1px dotted rgb(58, 59, 60);
    min-width: 30px;
}
.shopping-list-grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}