@import "../../styles/variables";

.filters-row {
  width: calc(100% - 1rem);
  .search {
    input {
      font-family: inherit;
    }
  }
}

.recipe-list-wrapper {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
}
.fcf{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.child-grow-1{
  label{
    flex-grow: 1;
    text-align: center;
  }
}
.rcc{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}