@import "../../styles/variables";


  .filters-row {
    .search {
      input {
        font-family: inherit;
      }
    }
    
  
  }
  .filter-row-bottom{
    padding-top: 0;
  }


.recipe-list-wrapper {
  margin: 1rem 0;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* Automatyczne dopasowanie ilości kolumn */
  grid-auto-rows: minmax(100px, auto); /* Automatyczna wysokość wierszy */
  gap: 1rem; /* Odstęp między elementami */
}
