
<div class="filters">
<div class="filters-row">
  <div class="food-type-filers">
  <form>
    <input
      [value]="null"
      id="option4"
      name="foodtype"
      type="radio"
      [(ngModel)]="chosenFoodCategory"
    />
    <label for="option4">All</label>
    <input

      [value]="foodCategory.breakfast"
      id="option0"
      name="foodtype"
      type="radio"
      [(ngModel)]="chosenFoodCategory"
    />
    <label for="option0">Breakfasts</label>
    <input
      [value]="foodCategory.dinner"
      id="option1"
      name="foodtype"
      type="radio"
      [(ngModel)]="chosenFoodCategory"
    />
    <label for="option1">Dinners</label>
    <input
      [value]="foodCategory.drink"
      id="option2"
      name="foodtype"
      type="radio"
      [(ngModel)]="chosenFoodCategory"
    />
    <label for="option2">Beverages</label>
    <input
      [value]="foodCategory.desert"
      id="option3"
      name="foodtype"
      type="radio"
      [(ngModel)]="chosenFoodCategory"
    />
    <label for="option3">Deserts</label>
    <span></span>
  </form>

  
  </div>
  <div class="user-filters">
    <button (click)="onNewRecipe()">New Recipe</button>
    <input id="userFilter" type="checkbox"(click)="showUsersRecipes()">
    <label for="userFilter">Your Recipes</label>
  </div>
</div>
<div class="filters-row">
  <div class="search">
    <input placeholder="Search..." type="text" [(ngModel)]="foodSearch" />
  </div>
  <div class="sort">
    <form>
      <input
      [value]="foodSort.Latest" 
      type="radio"
      id="latest"
      name="foodSort"
      [(ngModel)]="chosenSortType">
      <label  for="latest">Latest</label>
      <input 
      [value]="foodSort.Popular" 
      type="radio"
      id="popular"
      name="foodSort"
      [(ngModel)]="chosenSortType">
      <label for="popular">Popular</label>
      <input 
      [value]="foodSort.BestRating" 
      type="radio"
      id="bestRating"
      name="foodSort"
      [(ngModel)]="chosenSortType">
      <label for="bestRating">Best rated</label>
      <input 
      [value]="foodSort.Quickest" 
      type="radio"
      id="quickest"
      name="foodSort"
      [(ngModel)]="chosenSortType">
      <label for="quickest">Quickest</label>
    </form>
  </div>

</div>

</div>





<div class="recipe-list-wrapper">
  @for (
  recipe of recipes 
  | foodTypeSort: 
    chosenFoodCategory: 
    foodSearch:
    chosenSortType:
    userSort;
    track $index) {

  <app-recipes-item [recipe]="recipe" [index]="$index"></app-recipes-item>
}

</div>


<!--   
        <div class="router_wraper">
                <router-outlet></router-outlet>
        </div>
 -->
