<!-- 
    [routerLink]="[index]"

-->
<div>
  <div class="border-radius-1r backboard-uno-grey overflow-h">
    <div class="overflow-h">
    <a  (click)="onNavigateToRecipeDetails()"  ><img [@fadeInOutAnimation] class="width100 recipe-image" [src]="recipe.images[0].url" alt="recipe" /></a>
    </div>
    <div class="recipe-title pt-hr m-01 font-size-14r">
      <button style="text-align: start;" tabindex="0" class="font-size-14r buton-underline uno-white" (click)="onNavigateToRecipeDetails()">{{ recipe.name }}</button>
      
    </div>
    @if (!isSimpleDisplay) {
      <div class="flex-row-fese m-050">
        <div class="flex-col-cc">
          <app-stars [(usersRate)]="rateByCurrentUser" [recipeName]="recipe.name" [perecentages]="totalRatePercentage"></app-stars>
          {{recipe.stars.length ? recipe.stars.length : 0}}
        </div>
        <div class="flex-col-cc">
          <app-levels [level]="recipe.level" class="mb-02rem"></app-levels>
          
          {{ recipe.level }}
        </div>
        <div class="flex-col-cc">
          <app-clock class="mb-02rem"></app-clock>
          {{ recipe.prepTimeMinutes }} min.
        </div>
      </div>
    
    
    <div class="m-01 padding-050 flex-row-csb bt-uga">
      <a class="uno-white font-size-12r hover-underline" [routerLink]="'/user-panel/' + recipeAuthorData.id" >
      <div class="user-data flex-row-cc">
        @if(recipeAuthorData.avatar) {
          <img class="avatar-image-2rem mr-hrem" [src]="recipeAuthorData.avatar.url" [alt]="recipeAuthorData.avatar.name" />
        } @else {
          <img class="avatar-image-2rem mr-hrem" src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar" />
        }

        <h4>{{ recipe.author | authorname }}</h4>
      </div></a>
      <div >
        <button
          class="button-alpha font-size-1r hover-active-grey border-radius-hr padding-c1 mr-hrem"
          (click)="onLike()">
          {{ recipe.likes.quantity }}
          <i
            [ngClass]="{ 'recipe-liked': isLikedByCurrentUser }"
            class="heart fa-solid fa-heart"
          ></i>
        </button>
          @if (recipe.author !== currentUser.email) {
            <button 
            class="button-alpha font-size-1r hover-active-grey border-radius-hr padding-c1"
            (click)="onFollowUser()">
              <i
                [ngClass]="{ 'user-followed': isFollowedByCurrentUser }"
                class="fa-solid fa-user-plus"
              ></i>
            </button>
          }
       
      </div>
    </div>
  }
  </div>
</div>
