<!-- 
    [routerLink]="[index]"

-->
<div>
  <div class="post">
    <div class="image-wrap">
    <a (click)="onNavigateToRecipeDetails()" ><img class="recipe-image" [src]="recipe.images[0].url" alt="recipe" /></a>
    </div>
    <div class="recipe-title">
      <a class="go-to-recipe" (click)="onNavigateToRecipeDetails()">{{ recipe.name }}</a>
      
    </div>
    @if (!isSimpleDisplay) {
      <div class="recipe-info">
        <div class="stars info-part">
          <app-stars [(usersRate)]="rateByCurrentUser" [recipeName]="recipe.name" [perecentages]="totalRatePercentage"></app-stars>
          {{recipe.stars.length ? recipe.stars.length : 0}}
        </div>
        <div class="info-part">
          <app-levels [level]="recipe.level" class="mb-02rem"></app-levels>
          
          {{ recipe.level }}
        </div>
        <div class="info-part">
          <app-clock class="mb-02rem"></app-clock>
          {{ recipe.prepTimeMinutes }} min.
        </div>
      </div>
    
    
    <div class="user-info">
      <div class="user-data">
        <img src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="avatar" />
        <h4>{{ recipe.author | authorname }}</h4>
      </div>
      <div class="recipe-actions">
        <button  (click)="onLike()">
          {{ recipe.likes.quantity }}
          <i
            [ngClass]="{ 'recipe-liked': isLikedByCurrentUser }"
            class="heart fa-solid fa-heart"
          ></i>
        </button>
          @if (recipe.author !== user.email) {
            <button (click)="onFollowUser()">
              <i
                [ngClass]="{ 'user-followed': isFollowedByCurrentUser }"
                class="fa-solid fa-user-plus"
              ></i>
            </button>
          }
       
      </div>
    </div>
  }
  </div>
</div>
