@import "../../../styles/variables";


  .recipe-image {
    aspect-ratio: 3/2;
    transition: all 0.2s linear;
    object-fit: cover;
    
    &:hover{
      cursor: pointer;
      filter:opacity(0.8);
      transform: scale(1.05);
    }
  }

  .recipe-title {
    font-weight: 500;
    min-height: 3rem;
    .go-to-recipe{
      
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
 

