@import "../../../styles/variables";


.post {
  color: $uno-white;
  border-radius: 1rem;
  overflow: hidden;
  background-color: $uno-grey;

 
  .recipe-image {
    width: 100%;
    aspect-ratio: 3/2;
  }
  .recipe-title {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 0;
    margin-left: 1rem;
  }
  .recipe-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    .mg-02{
        margin-bottom: 0.2rem;
    }
    .info-part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stars {
       
      .stars-container {
        display: inline-block;
        unicode-bidi: bidi-override;
        color: #888888;
        height: 25px;
        width: auto;
        margin: 0;
        position: relative;
        padding: 0;
        .rating-upper {
          color: $uno-apricot;
          padding: 0;
          position: absolute;
          z-index: 1;
          display: flex;
          top: 0;
          left: 0;
          overflow: hidden;     
          font-size: 1rem;

        }

        .rating-lower {
          padding: 0;
          display: flex;
          z-index: 0;     
          font-size: 1rem;

        }
        .star-picker{
          display: flex;
          position: absolute;
          top: 0;
          left:0;
          z-index: 2;

          input{
            width: 0;
            position: absolute;

           
          }
          label{
            margin: 0;
            padding: 0;
            color: transparent;
            cursor: pointer;
            &:has(input:checked){
             
                -webkit-text-stroke: 1px white;  
              
            }
          }
      
        }
      }
    }
    .level{
        .level-container{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 2px;
            span{
                display: block;
                border: 2px solid $uno-white;
                width: 5px;
                border-radius: 5px;

            }
            #sp1{
                height: 8px;
            }
            #sp2{
                height: 18px;
            }
            #sp3{
                height: 28px;
            }
        }
    }
    .time{
       .clock{
        position: relative;
        height: 28px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 2px solid $uno-white;
        
        span{
            display: block;
            position: absolute;        
            background-color: $uno-white;
            height: 10px;
            width: 2px;    
        }
        #pointer1{
            bottom: 50%;
            left: calc(50% - 1px)
              
        }
        #pointer2{
            height: 8px;
            bottom: 50%;
            left: calc(50% - 1px);
            transform-origin: bottom;
            transform: rotate(120deg);
        
        }
       }
    }
  }
  .user-info {
    margin: 0 1rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $uno-grey-active;
    .user-data{
      display: flex;
      flex-direction: row;
      align-items: center;
      img{
        width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
    .recipe-actions{
      button{
        position: relative;
        color: $uno-white;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        border-radius: 1rem;
        transition: all 0.2s linear;
        padding: 0.2rem 0.5rem;
        &:hover{
          background-color: $uno-grey-active;
        }
      }
      .recipe-liked{
        color: tomato
      }
      .user-followed{
        color: $uno-apricot
      }
    }
  }
}
