

<div 

    style="cursor:pointer"
    [routerLink]="[index]"
    routerLinkActive="active">


    <div class="post">
        <img style="width: 100px; aspect-ratio:  1/1;" [src]="recipe.imagePath" alt="recipe" />
      
        <div class="post-body">
          <div class="user-avatar">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="post-info">
            <h2 class="post-name">{{ recipe.name }}</h2>
            <h3>{{ recipe.author | authorname }}</h3>
          </div>
      
          <div class="post-actions">
            <button class="post-action" (click)="onLike() ">
              {{ recipe.likes.quantity }}
              <i
                [ngClass]="{ 'recipe-liked': isLikedByCurrentUser }"
                class="heart fa-solid fa-heart"
              ></i>
            </button>
            <button [disabled]="isUserAuthorOfRecipe" [ngClass]="{ 'follow-disabled': isUserAuthorOfRecipe}" class="post-action show-menu" (click)="onFollowUser()">
              <i [ngClass]="{ 'recipe-liked': isFollowedByCurrentUser }" class="fa-solid fa-user-plus"></i>
            </button>
          </div>
        </div>
      </div>
      





</div>
