*{
    color: white;
}
.shine{
    position: relative;
    overflow: hidden;

}
.shine:hover{
    background-color: rgba(248, 248, 248, 0.056);

}
.shine:after{
    position: absolute;
    left: -120px;
    top: -15px;
    width: 50px;
    height: 180%;
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.5s;

}
.shine:hover:after{
    transform: translateX(400px) rotate(20deg);;
}
button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding:  0px 10px 0px 10px;
    height: 4vh;
    color: white;
    border: 1px solid rgba(240, 248, 255, 0.075);
    left: 50%;
    transform: translateX(-50%);
}
.shoplist-wraper{
    overflow: auto;
    height: 48vh;

}
.list-flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;

}
.list-item{
    cursor: pointer;
    text-decoration: none;
}
h5{
    padding: 10px;
}
a:hover{
    color: rgba(255, 255, 255, 0.418)
}
