<div class="swiper-slide post">
  <img class="post-img" [src]="recipe.imagePath" alt="recipe" />

  <div class="post-body">
    <h2 class="post-name">{{ recipe.name }} </h2>
    <h3>{{recipe.author | authorname }}</h3>
    
    <div class="post-actions">
      <button class="post-action" [disabled]="isLikedByCurrentUser" (click)="onLike()" >{{recipe.likes.quantity}} <i [ngClass]="{'recipe-liked': isLikedByCurrentUser}" class="fa-solid fa-heart"></i></button>
      <button class="post-action show-menu" (click)="onFollowUser()" ><i class="fa-solid fa-user-plus"></i></button>

    </div>
  </div>
</div>
