<div class="backboard mt-1rem post-wrapper">
  <div class="top-section">
    <div class="avatar-data data-anim"></div>
    <div>
      <div class="h4-data data-anim"></div>
      <div class="h5-data data-anim"></div>
    </div>
  </div>
  <div class="text-section data-anim text-data">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="comment-data">
    <div class="top-section">
      <div class="avatar-data data-anim"></div>
      <div>
        <div class="h4-data data-anim"></div>
        <div class="h5-data data-anim"></div>
      </div>
    </div>
  </div>
</div>
