<!-- <div class="back" *ngIf="!onMobile">
  <img
    [@test]="state"
    (@test.done)="animationDone($event)"
    [src]="randomImage"
    alt="food1"
    class="back__img"
  />
  <img
    [@test2]="state2"
    (@test2.done)="animationDone($event)"
    [src]="randomImage2"
    alt="food2"
    class="back__img"
  />
  <img
    [@test3]="state3"
    (@test3.done)="animationDone($event)"
    [src]="randomImage3"
    alt="food3"
    class="back__img"
  />
  <img
    [@test4]="state4"
    (@test4.done)="animationDone($event)"
    [src]="randomImage4"
    alt="food4"
    class="back__img"
  />
  <img
    [@test5]="state5"
    (@test5.done)="animationDone($event)"
    [src]="randomImage5"
    alt="food5"
    class="back__img"
  />
  <img
    [@test6]="state6"
    (@test6.done)="animationDone($event)"
    [src]="randomImage6"
    alt="food6"
    class="back__img"
  />
</div> -->

<app-header></app-header>

<router-outlet></router-outlet>
