
<form [formGroup]="userEditForm">
    <div class="flex-row-cfs gap15 pb-1r  ">
        @if (userInfo.avatar) {
            <ng-container formGroupName="avatar">
                <div class="avatar-image-9rem relative overflow-h b-sage">
                  <label class="no-input-visible flex-row-cc width100 height100 hover-color-sage" for="image"
                    ><i class="font-size-3r fa-solid fa-file-import "></i>
                    <input
                      type="file"
                      accept="image/*"
                      id="image"
                      name="image"
                      formControlName="input"
                      (change)="onFileUpload($event)"
                    />
                    <div
                      [ngStyle]="{ height: userEditForm.value.avatar.percentages + '%' }"
                      class="image-loading width100 absolute-lb"
                    ></div>
                    <img
                      class="image-display width100 height100 absolute-lb"
                      *ngIf="
                        userEditForm.value.avatar.imageData.url &&
                        userEditForm.value.avatar.percentages === 100
                      "
                      [src]="userEditForm.value.avatar.imageData.url"
                      alt="XD"
                    />
                  </label>
                  <a
                    *ngIf="
                      userEditForm.value.avatar.imageData.url && userEditForm.value.avatar.percentages === 100
                    "
                    (click)="onDeleteImageInput()"
                    ><div class="image-delete absolute-lb height100 width100 font-size-3r flex-row-cc backboard-uno-grey-active">
                      <i class="fa-regular fa-trash-can"></i></div
                  ></a>
                </div>
              </ng-container>

        }
        <div class="ml-hrem">
            <input class="bottom-sage input-text font-size-25r uno-white " type="text" placeholder="Name" formControlName="name">
            <div>
                <h3 class=" font-size-12r mt-hrem"><i class=" sage2 fa-solid fa-location-dot mr-hrem "></i> <input spellcheck="false" maxlength="12" class="bottom-sage font-size-12r uno-white input-text" formControlName="city" placeholder="City" type="text"></h3>
                <h3 class=" font-size-12r mt-hrem"><i class="sage2 fa-regular fa-calendar-days mr-hrem "></i> <input spellcheck="false" class="bottom-sage font-size-12r uno-white input-text" formControlName="birthDate" type="date"></h3>
                <h3 class=" font-size-12r mt-hrem"><i class="sage2 fa-regular fa-bookmark mr-hrem "></i> <input spellcheck="false" maxlength="12"class="bottom-sage font-size-12r uno-white input-text" formControlName="favRecipe" placeholder="Favourite dish" type="text"></h3>
            </div>
       
        </div>
        @if (userInfo.extraInfo?.motto) {
            <div class="ml-auto motto">
                <textarea formControlName="motto" spellcheck="false" class="uno-white bottom-sage" maxlength="85"  rows="3"></textarea>
            </div>

        }
        
    </div>
</form>
       

