@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root {
    --purple: rgb(252, 101, 176);
    --dark: #1b1b1b
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous";
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #a29ea396 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(240, 248, 255, 0.075);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a29ea396;
    border-radius: 11px;
    border: 3px none #ffffff00;
  }

body{
    background: linear-gradient(45deg,var(--dark), var(--purple));
    width: 100vw;
    margin: 0;
    overflow:hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.container{
    width: 960px;
    min-height: 700px;
    max-height: 700px;
    height: auto;
    background: linear-gradient(45deg,rgb(0,0,0,0.76),rgb(0,0,0,0.25));
    border-radius: 20px;
    
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
    overflow: hidden;
    margin-top: 4vh;


}
@media screen and (max-width: 600px) {
    .container {
      min-height: 92vh;
      width: 92vw;
      max-height: fit-content;
      margin-top: 4vw;
      margin-bottom: 4vw;
      overflow-y: auto;
    }
    body{
      align-items: flex-start;
      overflow: auto;
      overflow-x: hidden;
    }
  }


.back__img{
    position: fixed;

}
.hr_line{
    color: white;
    margin: 0;
    width: 100%
}

.container_flexbox{
    border-left: 1px solid rgba(240, 248, 255, 0.075);
    border-right: 1px solid rgba(240, 248, 255, 0.075);
}
.header_wraper{
    width:100%
}
.main_wraper{

    width: 100%;
    min-height: 700px;
}
.shine{
    position: relative;
    overflow: hidden;

}
.shine:hover{
    background-color: rgba(248, 248, 248, 0.056);

}
.shine:after{
    position: absolute;
    left: -120px;
    top: -15px;
    width: 50px;
    height: 180%;
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.5s;

}
.shine:hover:after{
    transform: translateX(400px) rotate(20deg);;
}
