.profile-buttons{
    margin-left: auto;
    align-self: flex-end;
}
.users-recipes-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;  
    grid-row-gap: 1rem;
}